#img1 {
  position: absolute;
  /* clip: rect(0px,60px,200px,0px); */
  max-height: 400px;
  max-width: 500px;
}
#img2 {
  position: absolute;
  /* clip: rect(0px,60px,200px,0px); */
  max-height: 400px;
  max-width: 500px;
}

#div1{
	width: 500px;
    height: 400px;	
}
#div2{	
	width: 500px;
    height: 400px;
}
#div1,#div2{	
	position: relative;
}